# dependencies
node_modules
.pnpm-debug.log*

# next.js
.next/
out/

# build outputs
dist/
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo/

# skills and cli
_skills/
packages/cli/dist/
